<div class="filter">
    <a href="/portfolio-js/"><div class="technology javascript"><img src="/assets/graphics/javascript-icon.svg" alt=""></div></a>
    <a href="/portfolio-next/"><div class="technology next"><img src="/assets/graphics/nextjs-icon.svg" alt=""></div></a>
    <a href="/portfolio-react/"><div class="technology react"><img src="/assets/graphics/react-icon.svg" alt=""></div></a>
    <a href="/portfolio-sass/"><div class="technology sass"><img src="/assets/graphics/sass-icon.svg" alt=""></div></a>
</div>