<footer>
    <section id="contact">
        <form name="Kontaktformular" method="POST" data-netlify="true" autocomplete="on">
                <h2>Want to work together?</h2>
            <section>
                <p>Hey, my <label for="name">name</label> is <input id="name" type="text" name="Name" required></p> 
                <p>my <label for="mail">e-mail</label> is<input id="mail" type="email" name="Email" required></p>
                <p>and I want to <label for="message">get in touch about</label><textarea id="message" name="Nachricht" required></textarea></p>
                <label class="checkbox__container" for="privacyPolicy">
                    <input type="checkbox" name="privacy" id="privacyPolicy" required> 
                    <span class="checkmark"></span>
                    I agree to the&nbsp; <a href="/privacy/">privacy policy</a>.
                </label>
                <button type="submit">send email</button>
            </section>
        </form>
    </section>
    <section class="highlights" >
        <nav aria-label="Footer">
            <ul>
                <li><a href="https://www.melvinwaberski.com/portfolio/how-this-website-was-made-using-11ty-netlify-cms-scss-and-github/">this website</a></li>
                <li><a href="/portfolio-react/">React</a></li>
                <li><a href="/portfolio-next/">Next</a></li>
                <li><a href="/portfolio-sass/">SASS</a></li>
                <li><a href="/portfolio-js/">JavaScript</a></li>
                <li><a href="/portfolio/covid-19-dashboard-build-with-next-js-and-mapbox/">Mapbox</a></li>
                <li><a href="/portfolio/what-does-it-take-to-build-a-web-scraper/">Web Scraper</a></li>
            </ul>
        </nav>
    </section>
    <section class="button__group">
        <a href="https://dribbble.com/whatatime"><button type="button">Dribbble</button><img src="/assets/graphics/arrow.svg" alt=""></a>
        <a href="https://github.com/Noevenzahn"><button type="button">GitHub</button><img src="/assets/graphics/arrow.svg" alt=""></a>
        <a href="/privacy/"><button type="button">Privacy Policy</button><img class="intern" src="/assets/graphics/arrow.svg" alt=""></a>
        <a href="/legal/"><button type="button">Legal Notice</button><img class="intern" src="/assets/graphics/arrow.svg" alt=""></a>
    </section>
    <section class="credits">
        <p>Melvin Waberski  //  2021</p>
    </section>
</footer>