<footer>
    <section id="contact">
        <form action="">
                <h2>Want to work together?</h2>
            <section>
                <p>Hey, my <label for="name">name</label> is <input id="name" type="text"></p> 
                <p>my <label for="mail">e-mail</label> is<input id="mail" type="text"></p>
                <p>and I want to get in touch about<textarea></textarea></p>
                <button type="submit">send email</button>
            </section>
        </form>
    </section>
    <section class="highlights">
        <nav>
            <ul>
                <li><a href="">this website</a></li>
                <li><a href="">React</a></li>
                <li><a href="">Swift</a></li>
                <li><a href="">Editorial Design</a></li>
                <li><a href="">this website</a></li>
                <li><a href="">React</a></li>
                <li><a href="">Swift</a></li>
                <li><a href="">Editorial Design</a></li>
            </ul>
        </nav>
    </section>
    <section class="button__group">
        <a href=""><button type="button">Dribbble</button><img src="/assets/graphics/arrow.svg" alt=""></a>
        <a href=""><button type="button">GitHub</button><img src="/assets/graphics/arrow.svg" alt=""></a>
        <a href=""><button type="button">Datenschutz</button><img class="intern" src="/assets/graphics/arrow.svg" alt=""></a>
        <a href=""><button type="button">Impress</button><img class="intern" src="/assets/graphics/arrow.svg" alt=""></a>
    </section>
    <section class="credits">
        <p>Melvin Waberski  //  2021</p>
    </section>
</footer>