<nav aria-label="Main">
    <p class="logo"><a href="/">Melvin <br> Waberski</a></p>
    <a class="sr-only" href="#content"><button>Skip Navigation</button></a>
    <ul>
        <li><a href="/about/">about</a></li>
        <li><a href="/blog/">portfolio</a></li>
        <li><a href="https://github.com/Noevenzahn">GitHub</a></li>
        <li><a href="#contact"><button type="button">contact</button></a></li>
    </ul>
</nav>