<nav aria-label="Main">
    <p class="logo"><a href="/">Melvin <br> Waberski</a></p>
    <a class="sr-only" href="#content"><button>Skip Navigation</button></a>
    <label class="menu__icon" for="mobile__menu">
        <svg viewBox="0 0 100 100" width="40" height="40"><rect width="75" height="8" fill="#ffffff"></rect><rect y="25" width="75" height="8" fill="#ffffff"></rect><rect y="50" width="75" height="8" fill="#ffffff"></rect></svg>
    </label>
    <input type="checkbox" id="mobile__menu" />
    <ul class="main__navigation">
        <li><a class="nav__link" href="/about/">about</a></li>
        <li><a class="nav__link" href="/blog/">portfolio</a></li>
        <li><a class="nav__link" href="https://github.com/Noevenzahn">GitHub</a></li>
        <li><a href="#contact"><button type="button">contact</button></a></li>
    </ul>
</nav>