---
layout: "post-base.njk"
---

<style>
    :root {
    --accent: {{ accentColor }};
    }
</style>
<header id="post__header">

    {% include "nav.njk" %}
    
    <h1 class="post__h1">{{ title }}</h1>

    <section class="description__section">
        <div>
            <p class="teasertext">{{ teaserText }}</p>

        <div class="technology__tags">
            <div class="tag"></div>
            <div class="tag"></div>
            <div class="tag"></div>
            <div class="tag"></div>
        </div>
        </div>
        <img class="post__image" src="{{ image }}" alt="{{ imageAlt }}">
    </section>
    <div class="banner">
        <a href="">the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • <span class="text__marking">the project</span> • the project • </a>
    </div>
</header>
<main class="post__main">
    <div class="post__content">

    {{ content | safe }}

    </div>
</main>