Footer {
    display: grid;
    grid-template-areas: 
    "contact contact contact highlights"
    "buttons buttons buttons buttons"
    "credits credits credits credits";
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin-top: calc(5vw + 2rem);
    border-top: 1rem solid var(--color-gray-100);
}
#contact {
    padding: clamp(4rem, 5vw, 7rem) clamp(2rem, 2vw + 1rem, 4rem);
    grid-area: contact;
    background-color: var(--color-gray-400);
    display: grid;

    form {
        display: flex;
        width: 100%;
        max-width: 80rem;
        justify-self: center;
    }
    h2 {
        margin: 2.2rem 3vw 0 0;
    }
    p {
        margin: 2.5rem 0;
    }
    input, textarea {
        width: 100%;
        padding: 1rem 1rem 1.2rem 1rem;
        margin-right: 1.5rem;
        border: none;
        border-bottom: solid 1.5px var(--color-gray-100);
        border-radius: 0;

        font-family: var(--main-font);
        font-weight: 300;
        font-size: clamp(1.8rem, 1vw + 1rem, 2.2rem);
        color: var(--color-gray-100);

        cursor: pointer;
        box-sizing: border-box;
        background-color: var(--color-gray-400);

        &:focus {
            outline: solid 1px var(--accent);
        }
    }
    textarea {
        resize: vertical;
    }
    button {
        background-color: var(--color-gray-400);

        &:hover {
            color: var(--background);
            background-color: var(--accent);
        }
    }
}
.highlights {
    grid-area: highlights;
    padding: clamp(3rem, 3vw + 1rem, 5.5rem) clamp(2rem, 2vw + 1rem, 4rem);
    border-left: solid 1.5px var(--color-gray-100);
    display: grid;
    
    nav {
        width: 100%;
        max-width: 80rem;
        justify-self: center;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 200%;
        
        li {
            display: inline;
        }
        a {
            font-size: clamp(1.8rem, 1vw + 1rem, 2.2rem);
            font-weight: 300;
            color: var(--accent);
            text-decoration: none;
            line-height: 270%;
            white-space: nowrap;
            
            margin-right: 0.3rem;
            padding: 0.7rem 2rem 0.9rem 2rem;
            border: solid 1px var(--accent);
            border-radius: 3rem;
            
            transition: color 250ms, background-color 250ms;

            &:hover {
                color: var(--background);
                background-color: var(--accent);
            }
        }
    }
}
.button__group {
    grid-area: buttons;
    display: flex;
    border-top: solid 1.5px var(--color-gray-100);

    a {
        display: flex;
        align-items: center;
        position: relative;
        flex: 1;
        border-right: solid 1.5px var(--color-gray-100);
        box-sizing: border-box;
        transition: background-color 250ms ease;
        
        &:last-of-type {
            border-right: none;
        }
    }
    a:hover, a:hover button {
        background-color: var(--color-gray-400);
    }
    button {
        padding: 1rem 0 1.2rem clamp(2rem, 2vw + 1rem, 4rem);
        border: none;

        font-family: var(--main-font);
        font-size: clamp(1.4rem, 1vw + 1rem, 2.2rem);
        font-weight: normal;
        text-align: left;
        color: var(--color-gray-100);

        background-color: var(--background);
        cursor: pointer;
    }
    img {
        position: absolute;
        right: 2rem;
        width: clamp(2.2rem, 1.5vw + 1rem, 3.5rem);
    }
    .intern {
        transform: rotate(45deg);
    }
}
.credits {
    grid-area: credits;
    background: var(--color-gray-100);
    color: var(--background);

    p {
        margin: 0.5rem 0;
        
        text-align: center;
        font-size: clamp(0.4rem, 0.5vw + 1rem, 1.6rem);
        font-weight: 500;
    }
}

@media screen and (max-width: 1000px) {    
    #contact form {
        flex-direction: column;
    }
    .button__group {
        flex-wrap: wrap;
        
        a {
            border-bottom: solid 1.5px var(--color-gray-100);
            
            &:nth-child(2) {
                border-right: none;
            }
        }
    }
    .button__group > a {
        flex-basis: 50%;
    }
    Footer {
        grid-template-areas: 
        "contact contact contact contact"
        "highlights highlights highlights highlights"
        "buttons buttons buttons buttons"
        "credits credits credits credits";
    }
    .highlights {
        border-left: none;
        border-top: solid 1.5px var(--color-gray-100);
    }
}

@media screen and (min-width: 1150px) {
    #contact {
        padding: 7rem 3rem;
        grid-area: contact;
        background-color: var(--color-gray-400);
        display: grid;
    
        form {
            display: flex;
            max-width: 100%;
            justify-self: normal;
        }
    }
}