header nav {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-areas: "logo nav";
    align-items: center;
    width: 100%;

    .logo {
        grid-area: logo;
        padding-left: calc(4vw + 1rem);
        font-size: var(--font-size-300);
        font-weight: 500;
        line-height: 110%;

        a {
            color: var(--color-gray-100);
            text-decoration: none;
            transition: color 200ms ease-in-out;

            &:hover {
                color: var(--color-gray-200);
            }
        }
    }
    ul {
        grid-area: nav;
        display: flex;
        justify-self: end;
        align-items: center;
        padding: 0 4vw 0 0;
        list-style: none;
        
        a {
            font-size: var(--font-size-400);
            font-weight: 300;
            color: var(--color-gray-100);
            
            margin-left: clamp(1.5rem, 3vw, 6rem);
            text-decoration: none;
            transition: border-color 200ms ease-in-out;
            border-bottom: solid 1px rgba($color: #000000, $alpha: 0);
        }
        .nav__link:hover {
            border-color: var(--color-gray-100);
        }
    }
    .menu__icon {
        cursor: pointer;
        display: none;
    }
    #mobile__menu {
        display: none;
    }
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.sr-only:focus,
.sr-only:focus-within {
    position: static;
    width: auto;
    height: auto; 
    padding-left: 4vw;
}

@media screen and (max-width: 500px) {
    .main__navigation {
        display: none;
    }
    header nav .menu__icon {
        position: absolute;
        top: 2rem;
        right: 4vw;
        display: block;
    }
    #mobile__menu:checked + .main__navigation {
        position: absolute;
        top: 4.5rem;
        right: 0;
        display: block;
        z-index: 999;
        padding: 0 2rem 0 1rem;
        background-color: var(--color-gray-400);
        white-space: nowrap;
        
        li {
            margin: 2.5rem 1.5rem 0 0;
            text-align: right;
        }
    }
    .main__navigation button {
        margin-bottom: 2.5rem;
        background-color: var(--color-gray-400);
        
        &:hover {
            color: var(--background);
            background-color: var(--accent) !important;
        }
    }
}