header nav {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-areas: "logo nav";
    align-items: center;
    width: 100%;

    .logo {
        grid-area: logo;
        padding-left: 4vw;
        font-size: clamp(1.6rem, 1vw + 1rem, 2rem);
        font-weight: 500;
        line-height: 110%;

        a {
            color: var(--normal-font);
            text-decoration: none;
        }
    }
    ul {
        grid-area: nav;
        display: flex;
        justify-self: end;
        align-items: center;
        padding: 0 4vw 0 0;
        list-style: none;

        a {
            font-size: clamp(1.8rem, 1vw + 1rem, 2.2rem);
            font-weight: 300;
            color: var(--normal-font);

            margin-left: clamp(1.5rem, 3vw, 6rem);
            text-decoration: none;
        }
    }
}