.page__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: calc(2vw + 1.5rem) 0 calc(2vw + 3rem) 0;

    font-size: var(--font-size-500);
    font-weight: 500;
    color: var(--color-gray-200);
    text-align: center;
    text-decoration: none;
    
    &::after {
        content: "";
        display: block;
        width: 1rem;
        height: 1rem;
        margin: 0.25rem 0 0 1rem;
        
        border-top: 0.4rem solid var(--color-gray-200);
        border-right: 0.4rem solid var(--color-gray-200);
        transform: rotate(45deg);
        transition: margin-right 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
    }
    &:hover {
        color: var(--accent);

        &::after {
            margin-right: -2rem;
            border-color: var(--accent);
        }
    }
}