.page__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--second-decent-color);
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin-top: calc(2vw + 1rem);
    font-size: clamp(2rem, 1vw + 1rem, 3rem);

    &::after {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        border-top: 0.4rem solid var(--second-decent-color);
        border-right: 0.4rem solid var(--second-decent-color);
        transform: rotate(45deg);
        margin: 0.25rem 0 0 1rem;
    }
}