.skillset {
        display: grid;
        place-items: center;

    .skill-list {
        display: flex;
        padding: 0 2rem;
        box-sizing: border-box;
    }
    .skill {
        width: clamp(5.5rem, 17vw, 20rem);
        height: clamp(5.5rem, 17vw, 20rem);
        margin: 1.5vw;
        background-color: var(--color-gray-400);
        box-sizing: border-box;
    }
}