#about__header {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: calc(5vw + 1rem);
    
    h1 {
        margin: clamp(11rem, 10vw, 50rem) 0 clamp(2rem, 1vw, 12rem) 0;
    }
    .about__text {
        padding: 0 1rem;
        box-sizing: border-box;
    }
}
.resume {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 6rem 0;
    
    h2 {
        text-align: center;
    }
}
.date-info {
    display: flex;
    width: 100%;
    max-width: 120rem;
    padding: 2vw 7vw;
    box-sizing: border-box;

    .description {
        width: 50%;
        font-size: clamp(1.8rem, 1vw + 1rem, 2.2rem);
        text-align: right;

        p {
            margin-top: 0.5rem;
        }
        p:first-of-type {
            margin-bottom: 0.5rem;
            font-size: clamp(2.4rem, 2vw + 1rem, 3.5rem);
            font-weight: bold;
        }
    }
    .title {
        width: 50%;
        margin-top: 0.5rem;
        
        font-size: clamp(2.4rem, 2vw + 1rem, 3.5rem);
        font-weight: bold;
    }
}