#about__header {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: calc(5vw + 1rem);
    
    h1 {
        margin: clamp(11rem, 12vw, 50rem) 0 clamp(2rem, 1vw, 12rem) 0;
    }
    .about__text {
        box-sizing: border-box;
        margin: 0 clamp(2rem, 2vw + 1rem, 4rem);
        max-width: 80rem;
    }
}
#content__about {
    display: grid;
    place-items: center;
    margin: 0 clamp(2rem, 2vw + 1rem, 4rem);
    
    .skill__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 80rem;
        margin-bottom: clamp(0.75rem, 3vw, 8rem);
    }
    .skill {
        padding: calc(0.5vw + 1rem);
        background-color: var(--color-gray-400);
        width: clamp(2.5rem, 10vw + 1rem, 10rem);
        height: clamp(2.5rem, 10vw + 1rem, 10rem);
    }
    img {
        height: 100%;
        width: 100%;
    }
    .skill__level {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 80rem;
        margin-top: calc(3vw + 1.5rem);
        text-align: center;
        font-size: var(--font-size-500);
        
        p {
            margin: calc(1vw + 1rem) 0;
        }
    }
}