#about__header {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: calc(5vw + 1rem);
    
    h1 {
        margin: clamp(11rem, 10vw, 50rem) 0 clamp(2rem, 1vw, 12rem) 0;
    }
    .about__text {
        box-sizing: border-box;
        margin: 0 clamp(2rem, 2vw + 1rem, 4rem);
        max-width: 80rem;
    }
}
.resume {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 6rem 0;
    
    h2 {
        text-align: center;
    }
}
.date-info {
    display: flex;
    width: 100%;
    max-width: calc(80rem + (clamp(2rem, 2vw + 1rem, 4rem) * 2));
    box-sizing: border-box;

    .description {
        width: 50%;
        font-size: var(--font-size-400);
        text-align: right;
        margin-right: clamp(2rem, 2vw + 1rem, 4rem);

        p {
            margin-top: 0.5rem;
        }
        p:first-of-type {
            margin-bottom: 0.5rem;
            font-size: var(--font-size-600);
            font-weight: bold;
        }
    }
    .title {
        width: 50%;
        margin-top: 0.5rem;
        margin-left: clamp(2rem, 2vw + 1rem, 4rem);

        
        font-size: var(--font-size-600);
        font-weight: bold;
    }
}