#portfolio__header {
    display: grid;
    place-items: center;
    height: clamp(20rem, 25vw, 38rem);
    width: 100%;
}
.filter {
    align-self: end;
    display: flex;
    max-width: 100%;
    margin-left: auto;
    padding: 2vw;

    overflow-x: auto;
    scrollbar-width: none; 

    &::-webkit-scrollbar {
        display: none;
      }

    .technology {
        flex-shrink: 0;
        width: clamp(7rem, 10vw, 15rem);
        height: clamp(7rem, 10vw, 15rem);
        margin: 0.5rem;
        
        background-color: var(--decent-color);
        box-sizing: border-box;
        transition: background-color 250ms;

        &:hover {
            background-color: var(--second-decent-color);
        }
    }
}