#portfolio__header {
    height: clamp(20rem, 25vw, 38rem);
    width: 100%;

    display: grid;
    place-items: center;
}
.filter {
    display: flex;
    justify-self: end;
    align-self: end;
    margin: 2vw 0;

    .technology {
        width: clamp(7rem, 10vw, 15rem);
        height: clamp(7rem, 10vw, 15rem);
        margin: 0.5rem;
        box-sizing: border-box;
        background-color: var(--decent-color);
        transition: background-color 250ms;

        &:hover {
            background-color: var(--second-decent-color);
        }
    }
}