#home__header {
    display: grid;
    place-items: center;

    height: clamp(40rem, 50vw, 120rem);
    width: 100%;
}
.preview__section {
    margin-bottom: calc(3.5vw + 4rem);
}
.about__section p {
    max-width: 80rem;
    margin: 0 3rem;
}
.about__preview {
    display: grid;
    place-items: center;  
}