#portfolio__header {
    display: grid;
    place-items: center;
    height: clamp(20rem, 25vw, 38rem);
    width: 100%;
    overflow: hidden;
}
.filter {
    align-self: end;
    display: flex;
    max-width: 100%;
    margin-left: auto;
    padding: 2vw;

    overflow-x: auto;
    scrollbar-width: none; 

    &::-webkit-scrollbar {
        display: none;
    }

    .technology {
        flex-shrink: 0;
        width: clamp(7rem, 7vw, 13rem);
        height: clamp(7rem, 7vw, 13rem);
        margin: 0.5rem;
        padding: calc(0.25vw + 0.75rem);
        
        background-color: var(--color-gray-400);
        box-sizing: border-box;
        transition: background-color 250ms;

        &:hover {
            background-color: var(--color-gray-300);
        }
    }
    .active {
        background-color: var(--color-gray-300);
    }
}