.description {
    display: flex;
}
h1 {
    margin: clamp(11rem, 10vw, 50rem) 0 clamp(2rem, 1vw, 12rem) 0;
}
.post__image {
    width: 50vw;
}

@media screen and (max-width: 700px) {
    .description {
        flex-direction: column;
    }
    .post__image {
        width: 100%;
    }
}