.post__main {
    display: grid;
    place-items: center;

    .post__content {
        width: 100vw;
        max-width: 110rem;
    }
    p {
        margin: 0 clamp(1.5rem, 2vw, 4rem);
    }
    .post__content a {
        color: var(--accent);
        text-decoration: underline;
        transition: color 250ms;
    
        &:hover {
            color: var(--color-gray-200);
        }
    }
    .post__content strong {
        color: var(--accent);
    }
    img {
        width: 100%;
        max-width: 110rem;
        margin: clamp(2rem, 5vw, 5rem) 0;
    }
}
.post__h1 {
    margin: clamp(10rem, 11vw, 65rem) clamp(2rem, 5vw, 50rem) clamp(2rem, 1vw, 12rem) clamp(2rem, 5vw, 50rem);
    max-width: 20ch;

    color: var(--accent);
    -webkit-text-fill-color: var(--accent);
    -webkit-text-stroke: 0px;
}
.teasertext {
    margin: 0 clamp(3rem, 7vw, 65rem) 0 clamp(2rem, 5vw, 50rem);
    max-width: 65ch;
}
.description__section {
    display: flex;
    margin-top: clamp(2rem, 5vw, 50rem);
}
.technology__tags {
    display: flex;
    margin: clamp(2rem, 3vw, 5rem) clamp(2rem, 5vw, 50rem);

    .tag {
        flex-shrink: 0;
        width: clamp(5rem, 6vw, 8rem);
        height: clamp(5rem, 6vw, 8rem);
        margin-right: 1rem;

        box-sizing: border-box;
        background-color: var(--color-gray-400);
        transition: background-color 250ms;

        &:hover {
            background-color: var(--color-gray-200);
        }
    }
}
.post__image {
    width: clamp(20rem, 45vw, 850rem);
    height: 100%;
}
.banner {
    margin-top: -2rem;
}

@media screen and (max-width: 1000px) {
    .description__section {
        flex-direction: column;
    }
    .post__image {
        width: 100vw;
        margin-top: 2rem;
    }
    .banner {
        margin-top: -2rem;
    }
}