@font-face {
    font-family: 'Trap';
    src: url('../assets/fonts/Trap-ExtraBold.woff2') format('woff2'),
         url('../assets/fonts/Trap-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Trap';
    src: url('../assets/fonts/Trap-Bold.woff2') format('woff2'),
         url('../assets/fonts/Trap-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}