h1 {
    margin-bottom: 0;
    
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: clamp(3.9rem, 5vw + 1rem, 9.5rem);
    color: var(--normal-font);
    -webkit-text-fill-color: var(--background);
    -webkit-text-stroke: clamp(0.075rem, 0.1vw, 0.1rem) var(--normal-font);

    .text__marking {
        color: var(--accent);
        -webkit-text-fill-color: var(--accent);
        -webkit-text-stroke: 0;
    }
}
h2 {
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: clamp(3.5rem, 2.5vw + 1rem, 6rem);
}
p {
    font-weight: 300;
    line-height: 160%;
}
a {
    text-decoration: none;
}