h1 {
    margin-bottom: 0;
    
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: var(--font-size-900);
    color: var(--color-gray-100);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: clamp(0.075rem, 0.1vw, 0.1rem) var(--color-gray-100);

    .text__marking {
        color: var(--accent);
        -webkit-text-fill-color: var(--accent);
        -webkit-text-stroke: 0;
    }
}
h2 {
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: var(--font-size-800);
}
p {
    font-weight: 300;
    line-height: 170%;
    overflow-wrap: break-word;
    hyphens: auto;
}
a {
    text-decoration: none;
    overflow-wrap: break-word;
    hyphens: auto;
}
::selection {
    background-color: var(--accent);
    color: var(--color-gray-100);
    -webkit-text-fill-color: var(--color-gray-100);
}