---
title: Something went wrong
layout: "base.njk"
permalink: 404.html
---

<header>
    {% include "nav.njk" %}
</header>

<main id="notfound__content">

    <h1 id="notfound__h1">Something went wrong...</h1>
    <video autoplay loop>
        <source 
            src="https://media.giphy.com/media/etqKMtq4ZzpBmeeM3s/giphy.mp4"
            type="video/mp4">
        Sorry, your browser doesn't support embedded videos.
    </video>

    <a class="page__link" href="/">head back to start</a>

</main>