---
title: About
layout: "base.njk"
---
<header id="about__header">

    {% include "nav.njk"%}

    <h1><span class="text__marking">about me</span></h1>
    <section class="about__section">
        <div class="about__preview">
            <p class="about__text">Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien.</p>
        </div>
    </section>
    <section class="skillset">
</header>
<main id="content">
    <section class="skillset">
        <h2>technologies</h2>

        <div class="skill-list">
            <div class="skill"><img src="/assets/graphics/javascript-icon.svg" alt=""></div>
            <div class="skill"><img src="/assets/graphics/nextjs-icon.svg" alt=""></div>
            <div class="skill"><img src="/assets/graphics/react-icon.svg" alt=""></div>
            <div class="skill"><img src="/assets/graphics/sass-icon.svg" alt=""></div>
        </div>
        {# <div class="skill-list">
            <div class="skill"></div>
            <div class="skill"></div>
            <div class="skill"></div>
            <div class="skill"></div>
        </div>     #}
    </section>
    <section class="resume">
        <div class="date-info">
            <p class="title">October 2021 – Present</p>
            <div class="description">
                <p>Freelancing</p>
                <p>Graphic Design,<br> Content Management</p>
            </div>
        </div>
        <div class="date-info">
            <p class="title">November 2020 – Present</p>
            <div class="description">
                <p>part-time Job</p>
                <p>Creating Wordpress websites,<br> grapics and social media posts</p>
            </div>
        </div>
        <div class="date-info">
            <p class="title">September 2019 – Present</p>
            <div class="description">
                <p>Design School</p>
                <p>Graphic Design,<br> Content Management</p>
            </div>
        </div>
    </section>
</main>