---
title: About
layout: "base.njk"
---
<header id="about__header">

    {% include "nav.njk"%}

    <h1><span class="text__marking">about me</span></h1>
    <section class="about__section">
        <div class="about__preview">
            <p class="about__text">Hey, I'm Melvin, a graphic design student learning frontend development in my spare time. I've always enjoyed designing user interfaces and websites. After playing around with HTML, CSS, and JavaScript, I decided to dive deeper into software development in early 2020. Even though I've been interested in tech ever since, I never thought about coding as something that might be interesting for me. Turns out: problem-solving is exactly what I was looking for. <br> Currently, I work part-time at a local company for design and content management, including creating and maintaining WordPress websites.</p>
        </div>
    </section>
    <section class="skillset">
</header>
<main id="content__about">

    <h2>Skills</h2>

    <div class="skill__list">
        <div class="skill"><img src="/assets/graphics/javascript-icon.svg" alt=""></div>
        <div class="skill"><img src="/assets/graphics/html-icon.svg" alt=""></div>
        <div class="skill"><img src="/assets/graphics/css-icon.svg" alt=""></div>
        <div class="skill"><img src="/assets/graphics/react-icon.svg" alt=""></div>
    </div>
    <div class="skill__list">
        <div class="skill"><img src="/assets/graphics/nextjs-icon.svg" alt=""></div>
        <div class="skill"><img src="/assets/graphics/sass-icon.svg" alt=""></div>
        <div class="skill"><img src="/assets/graphics/tailwind-icon.svg" alt=""></div>
        <div class="skill"><img src="/assets/graphics/swift-icon.svg" alt=""></div>
    </div>
    <div class="skill__level">
        <p><strong>Proficient:</strong> JavaScript, HTML, CSS, React</p>
        <p><strong>Intermediate:</strong> SASS, Next.js</p>
        <p><strong>Developing:</strong> Tailwind.css, PHP, Swift</p>
    </div>

</main>