---
title: Home
layout: "base.njk"
---
<header id="home__header">

    {% include "nav.njk"%}

    <h1><span class="text__marking">Designer</span> thinking <br> about <span class="text__marking">Frontend</span> <br> all day long.</h1>
</header>
<main id="content">
    <section class="preview__section">
        <div class="banner">
            <a href="/portfolio/">my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • </a>
        </div>
        
        {%- for post in collections.featured -%}
            <div class="project__preview marquee">
                <p><a href="{{ post.url }}">
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> • 
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                </a></p>
            </div>
        {%- endfor -%}
        
        <a class="page__link" href="/portfolio/">more of my work</a>
    </section>
    <section class="about__section">
        <div class="banner second">
            <a href="/about/">about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • </a>
        </div>

        <div class="about__preview">
            <p>Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien.</p>
        </div>

        <a class="page__link" href="/about/">more about my skills</a>
    </section>
</main>