---
title: Home
layout: "base.njk"
---
<header id="home__header">

    {% include "nav.njk"%}

    <h1><span class="text__marking">Designer</span> thinking <br> about <span class="text__marking">Frontend</span> <br> all day long.</h1>
</header>
<main id="content">
    <section class="preview__section">
        <div class="banner">
            <a href="/portfolio/">my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • <span class="text__marking">my work</span> • my work • </a>
        </div>
        
        {%- for post in collections.featured -%}
            <div class="project__preview marquee">
                <p><a href="{{ post.url }}">
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> • 
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                </a></p>
            </div>
        {%- endfor -%}
        
        <a class="page__link" href="/portfolio/">more of my work</a>
    </section>
    <section class="about__section">
        <div class="banner second">
            <a href="/about/">about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • <span class="text__marking">about me</span> • about me • </a>
        </div>

        <div class="about__preview">
            <p>Hey, I'm Melvin, a graphic design student learning frontend development in my spare time. I've always enjoyed designing user interfaces and websites. After playing around with HTML, CSS, and JavaScript, I decided to dive deeper into software development in early 2020. Even though I've been interested in tech ever since, I never thought about coding as something that might be interesting for me. Turns out: problem-solving is exactly what I was looking for.</p>
        </div>

        <a class="page__link" href="/about/">more about my skills</a>
    </section>
</main>