---
title: Legal Notice
layout: "base.njk"
---

<header>
    {% include "nav.njk" %}
</header>

<main id="legal-privacy__content">
    <div>
        <h1>Impressum</h1>

        <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
        <p>Melvin Waberski<br />
        Bergstra&szlig;e 38<br />
        19055 Schwerin</p>

        <h2>Kontakt</h2>
        <p>Telefon: +4901008054546<br />
        E-Mail: working.microthermic(at)aleeas.com</p>

        <p>Quelle: <a href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a></p>
    </div>
</main>