---
title: Portfolio
layout: "base.njk"
---
<header id="portfolio__header">

    {% include "nav.njk" %}

    {% include "filter.njk" %}

</header>
<main id="content">
    <section class="preview__section">
        
        {%- for post in collections.post | reverse -%}
            <div class="project__preview marquee">
                <p><a href="{{ post.url }}">
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> • 
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                    <span class="text__marking">{{ post.data.titleBeginning }}</span> {{ post.data.titleMiddle }} <span class="text__marking">{{ post.data.titleEnd }}</span> •
                </a></p>
            </div>
        {%- endfor -%}

    </section>
</main>