---
title: Portfolio
layout: "base.njk"
---
<header id="portfolio__header">

    {% include "nav.njk" %}

    <div class="filter">
        <div class="technology"></div>
        <div class="technology"></div>
        <div class="technology"></div>
        <div class="technology"></div>
        <div class="technology"></div>
        <div class="technology"></div>
        <div class="technology"></div>
        <div class="technology"></div>
    </div>
</header>
<main id="content">
    <section class="preview__section">
        
        {%- for post in collections.post -%}
            <div class="project__preview marquee">
                <p><a href="{{ post.url }}">
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> • 
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                    <span class="text__marking">{{ post.data.title-beginning }}</span> {{ post.data.title-middle }} <span class="text__marking">{{ post.data.title-end }}</span> •
                </a></p>
            </div>
        {%- endfor -%}

    </section>
</main>